In [1]:
# Exercise from 'Python Strings Medical Insurance Project'
# https://www.codecademy.com/paths/data-science-nlp/tracks/dsf-python-fundamentals-for-data-science-part-ii/modules/dsf-python-strings/projects/ds-python-strings-project

medical_data = \
"""Marina Allison   ,27   ,   31.1 , 
#7010.0   ;Markus Valdez   ,   30, 
22.4,   #4050.0 ;Connie Ballard ,43 
,   25.3 , #12060.0 ;Darnell Weber   
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1 
,#3022.0   ;   Vinay Padilla,24,   
26.9 ,#4620.0 ;Meredith Santiago, 51   , 
29.3 ,#16330.0;   Andre Mccarty, 
19,22.7 , #2900.0 ; 
Lorena Hodson ,65, 33.1 , #19370.0; 
Isaac Vu ,34, 24.8,   #7045.0"""
print(medical_data)

Marina Allison   ,27   ,   31.1 ,
#7010.0   ;Markus Valdez   ,   30,
22.4,   #4050.0 ;Connie Ballard ,43
,   25.3 , #12060.0 ;Darnell Weber
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1
,#3022.0   ;   Vinay Padilla,24,
26.9 ,#4620.0 ;Meredith Santiago, 51   ,
29.3 ,#16330.0;   Andre Mccarty,
19,22.7 , #2900.0 ;
Lorena Hodson ,65, 33.1 , #19370.0;
Isaac Vu ,34, 24.8,   #7045.0

In [2]:
updated_medical_data = medical_data.replace('#','$')
print(updated_medical_data)

Marina Allison   ,27   ,   31.1 ,
$7010.0   ;Markus Valdez   ,   30,
22.4,   $4050.0 ;Connie Ballard ,43
,   25.3 , $12060.0 ;Darnell Weber
,   35   , 20.6   , $7500.0;
Sylvie Charles   ,22, 22.1
,$3022.0   ;   Vinay Padilla,24,
26.9 ,$4620.0 ;Meredith Santiago, 51   ,
29.3 ,$16330.0;   Andre Mccarty,
19,22.7 , $2900.0 ;
Lorena Hodson ,65, 33.1 , $19370.0;
Isaac Vu ,34, 24.8,   $7045.0

In [8]:
num_records = 0
for i in updated_medical_data:
    if i == '$':
        num_records += 1
print("There are " + str(num_records) + " medical records in the data.")

There are 10 medical records in the data.

In [10]:
medical_data_split = updated_medical_data.split(";")
print(medical_data_split)

['Marina Allison   ,27   ,   31.1 , \n$7010.0   ', 'Markus Valdez   ,   30, \n22.4,   $4050.0 ', 'Connie Ballard ,43 \n,   25.3 , $12060.0 ', 'Darnell Weber   \n,   35   , 20.6   , $7500.0', '\nSylvie Charles   ,22, 22.1 \n,$3022.0   ', '   Vinay Padilla,24,   \n26.9 ,$4620.0 ', 'Meredith Santiago, 51   , \n29.3 ,$16330.0', '   Andre Mccarty, \n19,22.7 , $2900.0 ', ' \nLorena Hodson ,65, 33.1 , $19370.0', ' \nIsaac Vu ,34, 24.8,   $7045.0']

In [12]:
medical_records = []
for record in medical_data_split:
    medical_records.append(record.split(","))
print(medical_records)

[['Marina Allison   ', '27   ', '   31.1 ', ' \n$7010.0   '], ['Markus Valdez   ', '   30', ' \n22.4', '   $4050.0 '], ['Connie Ballard ', '43 \n', '   25.3 ', ' $12060.0 '], ['Darnell Weber   \n', '   35   ', ' 20.6   ', ' $7500.0'], ['\nSylvie Charles   ', '22', ' 22.1 \n', '$3022.0   '], ['   Vinay Padilla', '24', '   \n26.9 ', '$4620.0 '], ['Meredith Santiago', ' 51   ', ' \n29.3 ', '$16330.0'], ['   Andre Mccarty', ' \n19', '22.7 ', ' $2900.0 '], [' \nLorena Hodson ', '65', ' 33.1 ', ' $19370.0'], [' \nIsaac Vu ', '34', ' 24.8', '   $7045.0']]

In [14]:
medical_records_clean = []
for record in medical_records:
    record_clean = []
    for item in record:
        record_clean.append(item.strip(' '))
    medical_records_clean.append(record_clean)
print(medical_records_clean)

[['Marina Allison', '27', '31.1', '\n$7010.0'], ['Markus Valdez', '30', '\n22.4', '$4050.0'], ['Connie Ballard', '43 \n', '25.3', '$12060.0'], ['Darnell Weber   \n', '35', '20.6', '$7500.0'], ['\nSylvie Charles', '22', '22.1 \n', '$3022.0'], ['Vinay Padilla', '24', '\n26.9', '$4620.0'], ['Meredith Santiago', '51', '\n29.3', '$16330.0'], ['Andre Mccarty', '\n19', '22.7', '$2900.0'], ['\nLorena Hodson', '65', '33.1', '$19370.0'], ['\nIsaac Vu', '34', '24.8', '$7045.0']]

In [15]:
for record in medical_records_clean:
  print(record[0])

Marina Allison
Markus Valdez
Connie Ballard
Darnell Weber


Sylvie Charles
Vinay Padilla
Meredith Santiago
Andre Mccarty

Lorena Hodson

Isaac Vu

In [16]:
for record in medical_records_clean:
  print(record[0].upper())

MARINA ALLISON
MARKUS VALDEZ
CONNIE BALLARD
DARNELL WEBER


SYLVIE CHARLES
VINAY PADILLA
MEREDITH SANTIAGO
ANDRE MCCARTY

LORENA HODSON

ISAAC VU

In [26]:
names = []
ages = []
bmis = []
insurance_costs = []

for record in medical_records_clean:
    names.append(record[0])
    ages.append(record[1])
    bmis.append(record[2])
    insurance_costs.append(record[3])
    
print(names)
print(ages)
print(bmis)
print(insurance_costs)

['Marina Allison', 'Markus Valdez', 'Connie Ballard', 'Darnell Weber   \n', '\nSylvie Charles', 'Vinay Padilla', 'Meredith Santiago', 'Andre Mccarty', '\nLorena Hodson', '\nIsaac Vu']
['27', '30', '43 \n', '35', '22', '24', '51', '\n19', '65', '34']
['31.1', '\n22.4', '25.3', '20.6', '22.1 \n', '\n26.9', '\n29.3', '22.7', '33.1', '24.8']
['\n$7010.0', '$4050.0', '$12060.0', '$7500.0', '$3022.0', '$4620.0', '$16330.0', '$2900.0', '$19370.0', '$7045.0']

In [27]:
total_bmi = 0

for bmi in bmis:
    total_bmi += float(bmi)

average_bmi = total_bmi/len(bmis)
print("Average BMI: " + str(average_bmi))

Average BMI: 25.830000000000002