In [ ]:
import pandas as pd
restaurants = pd.read_csv("DOHMH_restaurant_inspections.csv")

# the .head(10) function will show us the first 10 rows in our dataset
print(restaurants.head(10))

# the .shape method in pandas identifies the number of rows and columns in our dataset as (rows, columns)
restaurants.shape  

# Descriptive statistics 
restaurants.describe()

# Print a concise summary of a DataFrame including all columns, null value counts and types
restaurants.info()

# the .drop_duplicates() function removes duplicate rows
restaurants = restaurants.drop_duplicates() 

# map() applies the str.lower() function to each of the columns in our dataset to convert the column names to all lowercase
restaurants.columns = map(str.lower, restaurants.columns)

# axis=1` refers to the columns, `axis=0` would refer to the rows
# In the dictionary the key refers to the original column name and the value refers to the new column name {'oldname1': 'newname1', 'oldname2': 'newname2'}
restaurants = restaurants.rename({'dba': 'name', 'cuisine description': 'cuisine'}, axis=1)

# Look at each columns datatypes
restaurants.dtypes

# .nunique() counts the number of unique values in each column 
restaurants.nunique() 

# counts the number of missing values in each column 
restaurants.isna().sum() 


# MISSING VALUES
# We see that there are missing values in grade and url, but no missing values in latitude and longitude. However, we cannot have coordinates at (0.000, 0.000) for any of 
# the restaurants in our dataset, and we saw that these exist in our initial analysis. Let’s replace the (0.000,0.000) coordinates with NaN values to account for this. We 
# will use the where() function to replace the coordinates 0.000 with np.nan.
# here our .where() function replaces latitude values less than 40 with NaN values
restaurants['latitude'] = restaurants['latitude'].where(restaurants['latitude'] < 40, np.nan) 

# here our .where() function replaces longitude values greater than -70 with NaN values
restaurants['longitude'] = restaurants['longitude'].where(restaurants['longitude'] > -70, np.nan) 

# .sum() counts the number of missing values in each column
restaurants.isna().sum() 

# Let’s try to understand the missingness in the url column by counting the missing values across each borough. We will use the crosstab() function in pandas to do this.
# The crosstab() computes the frequency of two or more variables. To look at the missingness in the url column we can add isna() to the column to identify if there is an 
# NaN in that column. This will return a boolean, True if there is a NaN and False if there is not. In our crosstab, we will look at all the boroughs present in our data 
# and whether or not they have missing url links.
pd.crosstab(
 
        # tabulates the boroughs as the index
        restaurants['boro'],  

        # tabulates the number of missing values in the url column as columns
        restaurants['url'].isna(), 

        # names the rows
        rownames = ['boro'],

        # names the columns 
        colnames = ['url is na']) 


# Removing prefixes
# .str.lstrip('https://') removes the “https://” from the left side of the string
restaurants['url'] = restaurants['url'].str.lstrip('https://') 

# .str.lstrip('www.') removes the “www.” from the left side of the string
restaurants['url'] = restaurants['url'].str.lstrip('www.') 

# the .head(10) function will show us the first 10 rows in our dataset
print(restaurants.head(10))

# Dealing with multiple files
# glob can open multiple files by using regex matching to get the filenames:
import glob

files = glob.glob("file*.csv")

df_list = []
for filename in files:
  data = pd.read_csv(filename)
  df_list.append(data)

df = pd.concat(df_list)

print(files)



# Reshaping data
"""
we want

- Each variable as a separate column
- Each row as a separate observation

We can use pd.melt() to do this transformation. .melt() takes in a DataFrame, and the columns to unpack:

df = pd.melt(frame=df, id_vars="Account", value_vars=["Checking","Savings"], value_name="Amount", var_name="Account Type")

The parameters you provide are:

frame: the DataFrame you want to melt
id_vars: the column(s) of the old DataFrame to preserve
value_vars: the column(s) of the old DataFrame that you want to turn into variables
value_name: what to call the column of the new DataFrame that stores the values
var_name: what to call the column of the new DataFrame that stores the variables"""


# Duplicates
duplicates = students.duplicated()
# To check for duplicates, we can use the pandas function .duplicated(), which will return a Series telling us which rows are duplicate rows.

students = students.drop_duplicates()
#  remove all rows that are duplicates of another row.

fruits = fruits.drop_duplicates(subset=['item'])
# If we wanted to remove every row with a duplicate value in the item column, we could specify a subset:



# Splitting by index
"""Let’s say we have a column “birthday” with data formatted in MMDDYYYY format. 
In other words, “11011993” represents a birthday of November 1, 1993. 
We want to split this data into day, month, and year so that we can use these columns as separate features."""
# Create the 'month' column
df['month'] = df.birthday.str[0:2]

# Create the 'day' column
df['day'] = df.birthday.str[2:4]

# Create the 'year' column
df['year'] = df.birthday.str[4:]


# Remove old columsn from dataframe
# create new dataframe excluding columns that are unwanted
students = students[['full_name', 'grade', 'exam', 'score', 'age', 'gender']]


# Splitting by character
"""
Let’s say we have a column called “type” with data entries in the format "admin_US" or "user_Kenya
we know that we want to split along the "_"
"""
# Split the string and save it as `string_split`
string_split = df['type'].str.split('_')
 
# Create the 'usertype' column
df['usertype'] = string_split.str.get(0)
 
# Create the 'country' column
df['country'] = string_split.str.get(1)



# To get the mean of a column in pandas, you can use the syntax:
df.column_name.mean()

# or:
df['column_name'].mean()


# String parsing
# Imagine we have a price column with values like "$1"
# We want to conver them to floats

# First, we can use what we know of regex to get rid of all of the dollar signs:

fruit.price = fruit['price'].replace('[\$,]', '', regex=True)

# Then, we can use the pandas function .to_numeric() to convert strings containing numerical values to integers or floats:

fruit.price = pd.to_numeric(fruit.price)


# EXTRACT NUMBERS FROM A STRING
# eg. “lunges - 30 reps”
split_df = df['exerciseDescription'].str.split('(\d+)', expand=True)

# Then, we can assign columns from this DataFrame to the original df:

df.reps = pd.to_numeric(split_df[1])
df.exercise = split_df[0].replace('[\- ]', '', regex=True)


# Missing values

# Method 1: Drop all of the rows with a missing value
bill_df = bill_df.dropna()

# If we wanted to remove every row with a NaN value in the num_guests column only, we could specify a subset:
bill_df = bill_df.dropna(subset=['num_guests'])


# Method 2: fill the missing values with the mean of the column, or with some other aggregate value.
bill_df = bill_df.fillna(value={"bill":bill_df.bill.mean(), "num_guests":bill_df.num_guests.mean()})



# Get the last two digits of year column
year
0	1959 AD

print(df.year.str[-2:])

Will give us AD